---
layout: default
title: OCaml for Windows
---
<p>
  <a href="https://github.com/fdopen/opam-repository-mingw">opam-repository-mingw</a> provides an <a href="http://opam.ocaml.org">opam</a> repository for Windows - and an experimental build of opam for Windows. It is work in progress, but it already works well enough to install packages with complex dependencies (like <code>core_kernel</code>) and packages with external dependencies (e.g <code>lablgtk</code>).<br /> <br />
  The repository is forked from the <a href="https://github.com/ocaml/opam-repository">standard version</a>. It contains Windows specific patches and build instructions. Especially build related tools (ocamlfind, ocamlbuild, omake, oasis, opam and OCaml itself) were modified, so that most unix-centric build instructions will also work with the native Windows/OCaml toolchain and I can sync the repository with the main repo from time to time (and without too much hassle).<br /> <br />
  The repository and opam itself are intended to be used from within <a href="https://cygwin.com/">cygwin</a>. Although tools like opam or <a href="https://ocaml.org/learn/tutorials/ocamlbuild/">ocamlbuild</a> are native Windows programs (no runtime dependency on <code>cygwin1.dll</code>), they rely on external tools that are provided by the cygwin distribution (<code>rsync</code>,<code>git</code>,<code>patch</code>,etc.) and won't work without a POSIX emulation layer. The cygwin distribution also ships a version of the <a href="http://mingw-w64.org/">GCC compiler (mingw-w64)</a> that will be used internally by the OCaml compiler in order to create native executables and libraries (Cygwin's <code>i686-w64-mingw32-gcc</code> is a cross compiler. The compiler itself depends on <code>cygwin1.dll</code> and posix conventions, but the generated code is independent of cygwin).<br /><br />
  Build instructions for the msvc toolchain are also available, e.g. <code>opam switch 4.04+msvc32</code>. However, many packages will only compile with gcc. Packages incompatible with msvc are not marked as such and there is no separate repository that only contains build instructions that are compatible with the msvc toolchain.<br /><br /></p>
<p>Instructions for the initial setup can be found on the <a href="/opam-repository-mingw/installation">Install page</a>.</p>
<br />
<p>Note: <a href="https://esy.sh/">Esy</a> also supports Windows. If you are not already familar with opam from Linux / OS X and don't want to change your habits, give it a try first.</p>
<hr />
<br />

{% for post in paginator.posts %}
<article class="post">

  {% if post.external-url %}
  <h1>
    <a href="{{ post.external-url }}">{{ post.title }}</a>
    <a class="anchor" href="{{ post.url }}"><i class="icon-anchor"></i></a>
  </h1>
  {% else %}
  <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
  {% endif %}

  <div class="post-content">{{ post.content }}</div>
</article>
{% endfor %}

{% if paginator.total_pages > 1 %}

<div class="postnavigation">

  {% if paginator.previous_page %}
  {% if paginator.page == 2 %}
  <a class="prev left" href="/">&larr; Newer</a>
  {% else %}
  <a class="prev left" href="/page{{paginator.previous_page}}/">&larr; Newer</a>
  {% endif %}
  {% else %}
  <span class="nope left">&larr; Newer</span>
  {% endif %}

  <span class="pages">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>

  {% if paginator.next_page %}
  <a class="next right" href="/page{{paginator.next_page}}/">Older &rarr;</a>
  {% else %}
  <span class="nope right">Older &rarr;</span>
  {% endif %}

</div>

{% endif %}
